@page "/orders"

<nav class="navbar navbar-light bg-light justify-content-between px-3">
    <h1 class="navbar-brand mb-0 h1">Orders</h1>
    <button class="btn btn-primary" type="button" @onclick="OpenAddOrderDialog">
        <span class="oi oi-plus" /> Add
    </button>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Coffee</th>
            <th>Add In</th>
            <th>Total Price</th>
            <th>Ordered At</th>
            <th>Created By</th>
            <th>Payment Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            IEnumerable<OrderItem> orderList = _orders;
            foreach (var order in orderList)
            {
                <tr>
                    <td>@order.Customer</td>
                    <td>
                        <div>
                            <p class="my-0">@order.Coffee</p>
                            <p class="my-0">(Rs. @order.CoffeePrice)</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            @if (order.AddIn == "")
                            {
                                <p class="my-0"></p>
                            } else
                            {
                                <p class="my-0">@order.AddIn</p>
                                <p class="my-0">(Rs. @order.AddInPrice)</p>
                            }
                        </div>
                    </td>
                    <td>Rs. @order.TotalPrice</td>
                    <td>@order.CreatedAt.ToString("MMM dd, yyyy h:mm tt")</td>
                    <td>
                        @{
                            var creator = UsersService.GetById(order.CreatedBy);
                            <span>@(creator == null ? "Unknown" : creator.Username)</span>
                        }
                    </td>
                    <td>
                        <p>
                        @if (order.IsPaid)
                        {
                            <span class="badge bg-success">Paid</span>
                        } else
                        {
                            <span class="badge bg-warning text-black-50">Not Paid</span>

                        }
                        </p>

                    </td> 
                    <td>
                        @if (!order.IsPaid)
                        {
                            <button class="btn btn-primary btn-sm m-1" type="button" @onclick="() => OpenPayOrderDialog(order)">
                                <span class="oi oi-delete" /> Pay
                            </button>
                        }
                        
                        <button class="btn btn-secondary btn-sm m-1" type="button"
                                @onclick="()=>OpenEditOrderDialog(order)">
                            <span class="oi oi-pencil" /> Edit
                        </button>
                        <button class="btn btn-danger btn-sm m-1" type="button" @onclick="() => OpenDeleteOrderDialog(order)">
                            <span class="oi oi-delete" /> Delete
                        </button>
                        
                    </td>
                </tr>

            }
        }
    </tbody>
</table>

@if (_showEditOrderDialog)
{
    <ModalDialog Title="@_dialogTitle" OnClose="@OnEditOrderDialogClose" OkLabel="@_dialogOkLabel" >
        <select class="form-select my-2" @onchange="HandleCoffeeTypeChange">
            <option value="">Select Coffee Type *</option>
            @{
                foreach (var coffee in _coffees)
                {
                    <option value=@coffee.Key selected=@(_orderModel.Id != Guid.Empty && coffee.Key == _selectedCoffeeType)>@coffee.Key</option>
                }
            }

        </select>
        <select class="form-select my-2" @onchange="HandleAddInTypeChange">
            <option value="">Select Add Ins</option>
            @{
                foreach (var addIn in _addIns)
                {
                    <option value=@addIn.Key selected=@(_orderModel.Id != Guid.Empty && addIn.Key == _selectedAddInType)>@addIn.Key</option>
                }
            }

        </select>
        <div class="my-2">
            <label for="customerList" class="form-label">Customer</label>
            <input class="form-control" list="customerOptions" @bind="_orderModel.Customer" id="customerList" placeholder="Type to search...">
            <datalist id="customerOptions">
                @foreach (var user in _users)
                {
                    if (user.Role.ToString() == "Customer")
                    {
                        <option value=@user.Username />
                    }
                }
            </datalist>
        </div>
        <div class="align-self-end mt-4 d-flex flex-column align-items-end">
            <p class="my-0">Coffee Price: <span class="ms-2">Rs.  @_selectedCoffeePrice</span></p>
            <p class="my-0">Add Ins Price: <span class="ms-2">Rs. @_selectedAddInPrice</span></p>
            <p class="my-2 fw-bold">Total Price:  <span class="ms-2">Rs. @_totalPrice</span></p>
        </div>

        @if (!string.IsNullOrEmpty(_editOrderErrorMessage))
        {
            <AlertMessage Type="danger" Message="@_editOrderErrorMessage" />
        }
    </ModalDialog>
}

@if (_showDeleteOrderDialog)
{
    <ModalDialog Title="Delete Order" OnClose="@OnDeleteOrderDialogClose" OkLabel="Confirm">
        <p>Are you sure you want to delete <strong>@_deleteOrder.Id</strong> ?</p>
        @if (!string.IsNullOrEmpty(_deleteOrderErrorMessage))
        {
            <AlertMessage Type="danger" Message="@_deleteOrderErrorMessage" />
        }
    </ModalDialog>
}

@if (_showPayOrderDialog)
{
    <ModalDialog Title="Pay Order" OnClose="@OnPayOrderDialogClose" OkLabel="Confirm">
        <div class="form-floating my-3">
            <input id="phoneNumber" type="text" class="form-control"  placeholder="Phone Number" @bind=_username />
            <label for="phoneNumber">Phone Number</label>
        </div>
        <div class="form-floating my-3">
            <input id="password" type="password" class="form-control" placeholder="Password" @bind=_password />
            <label for="password">Password</label>
        </div>
        @if (!string.IsNullOrEmpty(_payOrderErrorMessage))
        {
            <AlertMessage Type="danger" Message="@_payOrderErrorMessage" />
        }
    </ModalDialog>
}



@code {
    [CascadingParameter]
    private GlobalState _globalState { get; set; }
    private List<User> _users { get; set; }
    CoffeeChoice _coffees = new CoffeeChoice();
    AddInChoice _addIns = new AddInChoice();
    private List<OrderItem> _orders { get; set; }
    private OrderItem _orderModel { get; set; }
    private OrderItem _deleteOrder { get; set; }
    private string _selectedCoffeeType { get; set; }
    private int _selectedCoffeePrice { get; set; }
    private string _selectedAddInType { get; set; }
    private int _selectedAddInPrice { get; set; }
    private int _totalPrice { get; set; }
    private string _customer { get; set; }
    private string _dialogTitle { get; set; }
    private string _dialogOkLabel { get; set; }
    private bool _showEditOrderDialog { get; set; }
    private bool _showDeleteOrderDialog { get; set; }
    private bool _showPayOrderDialog { get; set; }
    private string _editOrderErrorMessage { get; set; }
    private string _deleteOrderErrorMessage { get; set; }
    private string _payOrderErrorMessage { get; set; }
    private bool _showCustomerLogin { get; set; }

    private string _username { get; set; }
    private string _password { get; set; }
    private User _customerLogin { get; set; }


    protected override void OnInitialized()
    {
        _orders = OrdersService.GetAll();
        _users = UsersService.GetAll();
    }

    private void HandleCoffeeTypeChange(ChangeEventArgs e)
    {   
        _selectedCoffeeType = e.Value.ToString();
        _selectedCoffeePrice = _coffees.GetCoffeePrice(_selectedCoffeeType);
        _totalPrice = _selectedCoffeePrice + _selectedAddInPrice;
    }

    private void HandleAddInTypeChange(ChangeEventArgs e)
    {  
        if (_selectedCoffeeType != null)
        {
            _selectedAddInType = e.Value.ToString();
            _selectedAddInPrice = _addIns.GetAddInPrice(_selectedAddInType);
            _totalPrice = _selectedCoffeePrice + _selectedAddInPrice;
        } else
        {
            _totalPrice = _selectedAddInPrice;
        }

    }

    private void OpenAddOrderDialog()
    {
        _dialogTitle = "Add Order";
        _dialogOkLabel = "Add";
        _orderModel = new OrderItem();
        _orderModel.Id = Guid.Empty;
        _showEditOrderDialog = true;
        _showCustomerLogin = true;
    }

    private void OpenEditOrderDialog(OrderItem editOrder)
    {
        _dialogTitle = "Edit Order";
        _dialogOkLabel = "Save";

        _orderModel = editOrder;
        _selectedAddInPrice = _orderModel.AddInPrice;
        _selectedCoffeePrice = _orderModel.CoffeePrice;
        _totalPrice = _orderModel.TotalPrice;


        _selectedCoffeeType = _orderModel.Coffee;
        _selectedAddInType = _orderModel.AddIn;


        _showEditOrderDialog = true;
    }

    private void OpenDeleteOrderDialog(OrderItem order)
    {
        _deleteOrder = order;
        _showDeleteOrderDialog = true;
    }

    private void OnEditOrderDialogClose(bool isCancel)
    {
        if (isCancel)
        {
            _showEditOrderDialog = false;
            _selectedAddInPrice = 0;
            _selectedCoffeePrice = 0;
            _totalPrice = 0;
        }
        else
        {
            try
            {
                _editOrderErrorMessage = "";
                if (_orderModel.Id == Guid.Empty)
                {
                    _orders = OrdersService.Create(coffee: _selectedCoffeeType, addIn: _selectedAddInType, totalPrice: _totalPrice, userId: _globalState.CurrentUser.Id, username: _orderModel.Customer, coffeePrice: _selectedCoffeePrice, addInPrice: _selectedAddInPrice);
                } else
                {
                    _orders = OrdersService.Update(coffee: _selectedCoffeeType, addIn: _selectedAddInType, totalPrice: _totalPrice, userId: _globalState.CurrentUser.Id, username: _orderModel.Customer, id: _orderModel.Id, coffeePrice: _selectedCoffeePrice, addInPrice: _selectedAddInPrice, isPaid: _orderModel.IsPaid);
                }
                _showEditOrderDialog = false;

            }
            catch (Exception e)
            {
                _editOrderErrorMessage = e.Message;
            }
        }
    }

    private void OnDeleteOrderDialogClose(bool isCancel)
    {
        if (isCancel)
        {

            _showDeleteOrderDialog = false;
            _deleteOrder = null;
        }
        else
        {
            try
            {
                _deleteOrderErrorMessage = "";
                _orders = OrdersService.Delete(_globalState.CurrentUser.Id, _deleteOrder.Id);
                _showDeleteOrderDialog = false;
                _deleteOrder = null;
            }
            catch (Exception e)
            {
                _deleteOrderErrorMessage = e.Message;
            }
        }
    }

    private void OpenPayOrderDialog(OrderItem order)
    {
        _orderModel = order;
        _showPayOrderDialog = true;
    } 

    private void OnPayOrderDialogClose(bool isCancel)
    {
        if (isCancel)
        {

            _showPayOrderDialog = false;
        }
        else
        {
            try
            {
                _payOrderErrorMessage = "";

                _customerLogin = UsersService.Login(_username, _password);
                if (_customerLogin != null)
                {
                    _orders = OrdersService.Update(coffee: _selectedCoffeeType, addIn: _selectedAddInType, totalPrice: _totalPrice, userId: _globalState.CurrentUser.Id, username: _orderModel.Customer, id: _orderModel.Id, coffeePrice: _selectedCoffeePrice, addInPrice: _selectedAddInPrice, isPaid: true);
                    _showPayOrderDialog = false;
                    _username = "";
                    _password = "";
                }
               
            }
            catch (Exception e)
            {
                _payOrderErrorMessage = e.Message;
            }
        }
    }

}
